* {
    margin: 0;
    padding: 0;
    border: border-box;
}

/* Add Fonts Section */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Shared Style */
:root {
    --orange: #E95A08;
    --soft-dark: rgba(0, 0, 0, 0.5);
    --black: #111111;
}

.bg-clr {
    background-color: rgb(245, 248, 255);
}

.primary_clr {
    color: var(--orange);
}

/* Style of Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.nav_logo {
    height: 70px;
    background-repeat: no-repeat;
}

.nav_menu ul {
    display: flex;
}

.nav_menu ul li {
    list-style: none;
}

.nav_menu ul li a {
    text-decoration: none;
    gap: 48px;
}

/* Hero Section */
.hero_container {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.hero_title {
    font-size: 4rem;
    font-weight: bold;
}

.hero_desc {
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--soft-dark);
}

/* Card Intro Section */
.card_intro {
    text-align: center;
    justify-content: center;
}

.intro_title {
    font-size: 3.1rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.int_clr {
    color: var(--orange);
}

.intro_desc {
    font-size: 1.2rem;
    font-weight: 450;
    color: var(--soft-dark);
    margin-bottom: 49px;
}

/* Main Card Section */
.cart_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.cart {
    background-color: #f8faff;
    height: auto;
    width: 270px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.cart_title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--black);
}

.cart_desc {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
}

.cart_btn {
    margin-top: auto;
}

.add_to_cart_btn {
    background-color: var(--orange);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 18px;
    padding: 14px 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
}

.add_to_cart_btn:hover {
    background-color: #cf4a07;
}

/* Flower & Plants Lover */
.trusted_section {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 210px;
    padding: 150px;
    margin-bottom: 130px;
}

.image_wrapper {
    position: relative;
    display: inline-block;
}

.image_wrapper img:first-child {
    display: block;
    max-width: 100%;
    height: auto;
}

.trusted_badge {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.trusted_title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
}

.trusted_desc {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--soft-dark);
    margin-bottom: 18px;
}

.trusted_desc ul li {
    margin-bottom: 18px;
}

/* Latest  Deals */
.deal_texts{
    text-align: center;
}
.deal_title{
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.deals_clr{
    color: var(--orange);
}
.deal_desc{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--soft-dark);
    margin-bottom: 120px;
}

/* Latest  Deals images section */
.deal_container {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 120px;
}

.deal_box_1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.deal_box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.deal_box img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.image_dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.deal_overlay {
  position: absolute;
  color: #FFFFFF;
  z-index: 2;
  width: 100%;
  padding: 0 20px;
}

.center_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deal_overlay h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.deal_overlay a {
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}
/* Join the colorful Bunch */
.footer{
    display: flex;
    align-items: center;
}
.user_join_section{
    height: 533px;
    background-size: cover;
}

/* Footer Style Section */
.footer{
    justify-content: space-around;
}
.ft_logo{
    margin-bottom: 13px;
}
.logo_desc{
    font-size: 1.rem;
    font-weight: 400;
    color: var(--soft-dark);
}
.ft_nav{
    display: flex;
    
}
.ft_nav ul li{
    list-style: none;
}
.ft_nav ul li a{
    text-decoration: none;
}
.ft_icons{
    display: flex;
    align-items: center;
    gap: 15px;
}